{% extends 'Bourse/Principale.html' %}

{% block content %}

<h1 class="p-3"> Client </h1>

{% comment %} <div class="container pb-5">
    <div class="row">
      <div class="col-sm">
      <h6> Nom : {{ client.nom }} </h6>
      </div>
      <div class="col-sm">
        <h6> Prenom : {{ client.prenom }} </h6>
      </div>
      <div class="col-sm">
        <h6> Tel : {{ client.tel }} </h6>
    </div>
    <div class="col-sm">
        <h6> Email : {{ client.email }} </h6>
    </div>
    <div class="col-sm">
      <h6> Nombre du facture : {{nombre_facture}} </h6>
  </div>
    
</div> {% endcomment %}
<div class="container p-2">
    {% comment %} <div class="card" >
        <div class="card-body"> {% endcomment %}
          {% comment %} <h5 class="card-title"> </h5> {% endcomment %}
          {% comment %} <h6 class="card-subtitle mb-2 text-muted"></h6> {% endcomment %}
          <table class="table">
            <thead>
           <tr>
         
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Email</th>
          <th scope="col">Tel</th>
          <th scope="col">Action</th>
          
        </tr>
      </thead>
      <tbody>
        {% for item in clientt %}
          <tr>
        <td>{{item.nom}}</td>
        <td>{{item.prenom}}</td>
        <td>{{item.email}}</td>
        <td>{{item.tel}}</td>
        
        <td>
            <a class="" href="#"><i class="fas fa-user-plus"></i></a>
                     <a  href="#" > <i class="fas fa-edit"></i></a>   
                     <a class="text-danger" href="#" ><i class="fas fa-trash-alt"></i></a>  
        </td>
         </tr>
        {% endfor %} 
      
    </tbody>
  </table>
    
</div>
</div>
</div>
{% comment %} #-------------------------------- {% endcomment %}

     

{% endblock %}
