{% extends 'Bourse/Principale.html' %}

{% block content %}

<h1 class="p-3">  </h1>
<h1 class="p-3">  </h1>
<center>
<div class="row">
  <div class= "col-4" > 
    <div class="col-md-5">
     <div class="card" style="width: 25rem;">
        <div class="card-body">
             <p class="card-text">Nom   :   {{client.nom}}</p>
              <p class="card-text">Prenom  :  {{client.prenom}}</p>
              <p class="card-text">Email  :  {{client.email}}</p>
              <p class="card-text">Tel  :   {{client.tel}}</p>
              <p class="card-text">Nombre de facture  :  {{nombre_facture}} </p>
       </div>
    </div>
  </div>
</div>
</div>
</center>

  
    
<center>
<div class="container p-2">
   
          <table class="table">
            <thead>
           <tr>
         
          <th scope="col">Voiture</th>
          <th scope="col">Marque</th>
          <th scope="col">Type</th>
          <th scope="col">Date</th>
          
          
        </tr>
      </thead>
      <tbody>
        {% for item in factures %}
          <tr>
        <td>{{item.voiture}}</td>
        <td>{{item.voiture.marque}}</td>
        <td>{{item.type}}</td>
        <td>{{item.date}}</td>
        
         </tr>
        {% endfor %} 
      
    </tbody>
  </table>
    
</div>
</div>
</div>
{% comment %} #-------------------------------- {% endcomment %}

</center>

{% endblock %}
