{% extends 'Bourse/Principaleclient.html' %}
{% load static %}
{% block content %}

            
            <div class="row">
             <div class= "col-4" > 
               <div class="col-md-5">
                <div class="card" style="width: 25rem;">
                   <div class="card-body">
                        <p class="card-text">Marque: {{vv.marque}}</p>
                         <p class="card-text">Couleur: {{vv.couleur}}</p>
                         <p class="card-text">Prix: {{vv.prix}}</p>
                         <p class="card-text">Modele: {{vv.modele}}</p>
                         <p class="card-text">Numero sachet: {{vv.numerosachet}}</p>
                  </div>
               </div>
             </div>
           </div>
           
           <div class= "col-4" > 
            <div class="col-md-5">
             <div class="card" style="width: 25rem;">

                 <img class="card-img-top" <img src="{{vv.image.url}}"  width="90%" height="20%" alt="Card image cap">
                
            </div>
          </div>
        </div>
      </div>

        
      <div class="row">
        <div class= "col-4" > 
          <div class="col-md-5">
           <div class="card" style="width: 25rem;">
            <div class="col-md-15 form-group">
             <a  class="btn btn-primary rounded-0 py-2 px-4" href="/"> Retourner</a>
              <span class="submitting"></span>
            </div>
          </div>
        </div>
      </div>

{% endblock %}