{% extends 'Bourse/Principaleclient.html' %}
{% load static %}
{% block content %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'formaj/fonts/icomoon/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'formaj/css/bootstrap.min.css' %} ">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'formaj/css/style.css' %}">

    <title>Voiture </title>
  </head>
  <body>
  
    
     



  <div class="row">
    {% for item in voiture %}
    <div class= "col-4" > 
      <div class="col-md-5">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top" src="{{item.image.url }}" width="90%" height="20%" alt="Card image cap">
          <div class="card-body">
           <h5 class="card-title">{{item.id}}</h5>
            <p class="card-text">{{item.modele}}</p>
            <p> {{ item.marque }} </p>
            <a href="{% url 'voirevoiture' item.id %}" class="btn btn-primary">Voir Details</a> 
          </div>
    
        </div>
      
      </div>
    </div>
    {% endfor %}
  </div>


  </div>
  
{% comment %} <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Matricule</th>
            <th scope="col">Marque</th>
            <th scope="col">Couleur</th>
            <th scope="col">Prix</th>
            <th scope="col">Modele</th>
            <th scope="col">Numerosachet</th>
            <th scope="col">Client</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
            <th scope="col">Afficher</th>
            

          </tr>
        </thead>
        <tbody>
            {% for item in voiture %}
              <tr>
            
            <td>{{item.matricule}}</td>
            <td>{{item.marque}}</td>
            <td>{{item.couleur}}</td>
            <td>{{item.prix}}</td>
            <td>{{item.modele}}</td>
            <td>{{item.numerosachet}}</td>
            <td>{{item.client}}</td>
            <td><img src="{{item.image.url}}" width="90%"  /> </td>
            <td>
            <a class="" href="{% url 'Ajoutvoiture' %}"><i class="fas fa-user-plus"></i></a>
            <a  href="#" > <i class="fas fa-edit"></i></a>   
            <a class="text-danger" href="#" ><i class="fas fa-trash-alt"></i></a>
            </td>
            <td> <a href="/operation/{{item.id}}"> <i class="far fa-eye"></i> </a></td>
             </tr>
            {% endfor %} 
          
        </tbody>
      </table>
     </div> {% endcomment %}

{% endblock %}
